body {
    font-family: 'Courier New', Courier, monospace;
}

#header {
    text-align: center;
    padding-top: 5%;
}

#mainBox {
    display: flex;
    padding-top: 2%;
    justify-content: center;
    margin: auto;
}

#leftBox {
    width: 33%;
}

#middleBox {
    width: 33%;
    text-align: center;
}

#moneyCounter {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}


#rightBox {
    width: 33%;
}

#upgrades-container {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.shopItems {
    text-align: left;
}