html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url(Images/Background\ for\ web\ game.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    overflow: hidden;
}

#header {
    text-align: center;
}


#mainBox {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

#leftBox {
    width: 30%;
}

#middleBox {
    width: 40%;
    text-align: center;
    background-image: url(Images/shadedBordersSoft.png);
    background-size: cover;
}

#moneyCounter {
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

#clickButton {
    width: 75%;
    padding-top: 6%;
    

}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0) scale(1);
        
    }

    50% {
        transform: translateY(-10px) scale(1.1);
    }

}
.bounce {
    animation: bounce 0.2s ease-in-out;
}

@keyframes bounce2 {
    0%,
    100% {
        transform: translateY(0) scale(1);
        
    }

    50% {
        transform: translateY(-6px) scale(1.005);
    }

}
.bounce2 {
    animation: bounce 0.2s ease-in-out;
}

#rightBox {
    width: 30%;
}

#upgrades-container {
    display: flex;
    flex-direction: column;
    width: 94%;
    padding-left: 6%;

}

.shopItems {
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
    font-size: larger;
    text-shadow: 1cm;
    color: white;
    height: 50px;
    background-image: url(Images/shopItemButtonImg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.shopItemsText {
    padding-left: 2%;
}



#clickerPowerCostDisplay {
}